body {
  font-family: 'Kirang Haerang', cursive;
  font-size: 25px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #eeeeee;
  color: #6C6D6E;
}

a {
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  line-height: 1.8;
}

.tm-primary-color {
  color: #61AEAE;
}

.tm-secondary-color {
  color: #0099CC;
}

.page-body{display: flex;justify-content:center;}

.tm-page-container {

  max-width: 1200px;
  width: 100%;  
}

.tm-section {
  margin-bottom: 155px;
  position: relative;
}

.tm-content-container {
	display:flex;
	align-items:center; 
	justify-content:center;
  border-radius: 20px;
  background-color: white;
}

.tm-nav {
  position: absolute;
  right: -250px;
  top: 45px;
}

.tm-nav > ul > li {
  list-style: none;
}

.tm-nav > ul > li > a {
  display: block;
  padding: 12px 15px;
  color: #999A9B;
}


.tm-nav > ul > li > a:hover,
.tm-nav > ul > li > a:focus {
  color: #0299CC;
}

.tm-nav-deco {
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #999A9B;
  vertical-align: middle;
  margin-right: 20px;
}



.tm-nav > ul > li:hover > a > .tm-nav-deco
 {
  background-color: #0299CC;
}

.tm-content {  
  padding: 55px;
}

.tm-header {
  padding: 65px 15px;
}

.tm-title {
  font-size: 3rem;
  color: #626364;
}

.tm-page-title {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: #656667;
}

.tm-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;  
}

.img{width:100%;
	height:auto;}




@media (max-width: 945px) {
  .tm-nav {
    position: static;
  }

  .tm-page-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}



